<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>laidaiwang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27B13B501D0E56E900D5DA31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27B13B691D0E56E900D5DA31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27B13B741D0E56E900D5DA31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
